<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs", { title: title }); %>
    <script type="module" src="/frontend_js/sign-up.js" defer></script>
</head>
<body>
    <header>
        <%- include("./partials/header.ejs", { header: header }); %>
    </header>
    <nav>
        <%- include("./partials/navbar.ejs"); %>
    </nav>
    <main aria-labelledby="main">
        <h2 id="main">Make your new account</h2>
        <form action="/sign-up" method="post">
            <div class="form-row">
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" requried autocomplete="off" placeholder="Username..."/>
            </div>
            <div class="form-row">
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" autocomplete="off" placeholder="...@example.com"/>
            </div>
            <div class="form-row">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" required autocomplete="off" placeholder="Password..."/>
            </div>
            <button type="submit" class="button">Submit</button>
        </form>

    </main>
    <footer>
        <%- include("./partials/footer.ejs", { links: links }); %>
    </footer>
</body>
</html>