<p>No generative AI was used in the creation of this project.</p>
<ul class="link-area">
    <% links.map((link) => { %>
        <li class="link"><a href="<%= link.href %>"><%= link.name %></a></li>
    <% }); %>
</ul>