<%
    let buttons = [
        { text: "Home", href: "/" },
        { text: "Upload", href: "/upload" },
    ];
    if (!locals.user) {
        let additionalButtons = [
        { text: "Sign up", href: "/sign-up" },
        { text: "Sign in", href: "/sign-in" },
        ];
        buttons.splice(1, 1);
        buttons = buttons.concat(additionalButtons)
        
    }
    
%>

<ul class="navbar">
    <% buttons.map((button) => { %>
        <li>
            <button 
                type="button" 
                class="button"
                onclick="location.href = '<%= button.href %>'"
                ><%= button.text %></button>
        </li>
    <% }); %>
</ul>