<h3>Welcome <%= user.name %></h3>
<div class="button-area">
    <button type="button" class="button" onclick="location.href = '/upload'">Upload</button>
<form action="/log-out" method="post">
    <button type="submit" class="button">Log out</button>
</form>
</div>
