/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
  with slight edits made by Me!
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}
:root {
    font-family: system-ui, Helvetica, Arial, sans-serif;
}
*:not(dialog) {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    min-block-size: 100vh;
}
img {
    max-width: 100%;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    vertical-align: middle;
    shape-margin: 1rem;
}
input,
button,
textarea,
select {
    font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}
ul,
li {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
:root {
    /* Custom colors */
    --white: rgb(246, 247, 255);
    --black: rgb(21, 21, 22);
    --light: #fcf8e8;
    --green: #94b49f;
    --orange: #ecb390;
    --red: #df7861;

    --red-alt: #d0384b;
    --orange-alt: #e27e79;
    --green-alt: #727f89;
    --light-alt: #faf1e0;
    /* Other defaults */
    --default-padding: 1rem;
    --default-gap: 1rem;
}

body {
    padding-block: var(--default-padding) 0rem;
    padding-inline: var(--default-padding);
    min-height: 100vh;
    gap: var(--default-gap);
    margin-inline: auto;
    max-width: 1000px;
    display: grid;
    grid-template-rows: 100px 50px 1fr 100px;
    grid-template-columns: minmax(20ch, 1fr) 3fr;

    /* colors */
    background-color: var(--green-alt);

    > * {
        background-color: var(--orange);
        box-shadow: var(--black) 5px 5px 0px;
    }
}
body.sign-in,
body.sign-up {
    > header {
        grid-column: 1 / -1;
    }
    > main {
        place-self: center;
        padding: var(--default-padding);
        grid-column: 1 / -1;
        grid-row: 2 / span 2;
    }
}
.button {
    background-color: var(--light-alt);
    border-radius: 0.45rem;
    padding: 0.25rem;
}

header {
    grid-column: 2 / -1;
    grid-row: 1;
    align-content: center;
    text-align: center;
}

nav {
    grid-row: 2;
    align-content: center;
}

main {
    grid-column: 2 / -1;
    grid-row: 3 / 4;
    align-content: center;
}
main.index,
main.upload {
    align-content: start;
    padding: var(--default-padding);
}
aside.user-area {
    display: grid;
    place-items: center;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    grid-column: 1;
    grid-row: 1 / 4;
    padding: var(--default-padding);
    > .button-area {
        display: flex;
        gap: var(--default-gap);
    }
}
footer {
    grid-column: 1 / -1;
    grid-row: 4;
    align-content: center;
    padding: var(--default-padding);
}

.navbar {
    display: flex;
    justify-content: center;
    gap: var(--default-gap);
}

form {
    display: grid;
    gap: var(--default-gap);
    > .form-row {
        display: grid;
    }
    > :last-child {
        margin-top: 0.5rem;
    }
}
