/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
  with slight edits made by Me!
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}
:root {
    font-family: system-ui, Helvetica, Arial, sans-serif;
}
*:not(dialog) {
    margin: 0;
}

:root {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    min-block-size: 100vh;
}
img {
    max-width: 100%;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    vertical-align: middle;
    shape-margin: 1rem;
}
input,
button,
textarea,
select {
    font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}
ul,
li {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
:root {
    /* Custom colors */
    --white: rgb(246, 247, 255);
    --black: rgb(21, 21, 22);
    --light: #fcf8e8;
    --green: #94b49f;
    --orange: #ecb390;
    --red: #df7861;

    --dark-red: hsl(0, 90%, 45%);
    --red-alt: #d0384b;
    --orange-alt: #e27e79;
    --green-alt: #727f89;
    --light-alt: #faf1e0;
    --dark-pink: #e3245e;
    --light-pink: #f29dae;
    --light-pink-alt: #f55b79;
    --shadow-pink: #66091c;
    --dark-pink-alt: #42010f;
    --purple: #8f0d47;
    --dark-blue: #231c73;
    --hover-color: lavender;
    --hover-border: rebeccapurple;
    --hover-text-color: hsl(255, 100%, 50%);
    /* Other defaults */
    --default-padding: 1rem;
    --default-gap: 0.75rem;
}

body {
    padding-block: 0.75rem;
    padding-inline: var(--default-padding);
    min-height: 100vh;
    gap: var(--default-gap, 1rem);
    margin-inline: auto;
    max-width: 1000px;
    display: grid;
    grid-template-rows: 100px 50px 1fr 100px;
    grid-template-columns: minmax(20ch, 1fr) 3fr;

    /* colors */
    background-color: var(--dark-pink);

    > * {
        background-color: var(--light-pink);
        border-top-left-radius: 15px;
        box-shadow: var(--purple) 5px 5px 0px;
    }
}
header,
aside,
main,
footer {
    color: var(--dark-pink-alt);
}
body.sign-in,
body.sign-up {
    > header {
        grid-column: 1 / -1;
    }
    > main {
        place-self: center;
        padding: var(--default-padding);
        grid-column: 1 / -1;
        grid-row: 2 / span 2;
    }
}
input[name="file"] {
    background: var(--light);
    border-radius: calc(0.25rem + 0.25rem);
    padding: 0.25rem;
    &::file-selector-button {
        padding: 0.25rem;
        background: var(--light-alt);
        border-radius: 0.25rem;
        border: 2px solid var(--orange-alt);
    }
}
input {
    background: var(--light);
    border-radius: 0.25rem;
    padding: 0.25rem;
    border: 2px solid var(--orange-alt);
}
select {
    padding: 0.25rem;
    background: var(--light);
    border-radius: 0.25rem;
    border: 2px solid var(--orange-alt);
    &:hover {
        background: var(--hover-color);
    }
}
.button {
    border: var(--light-pink-alt) 2px solid;
    background-color: var(--light);
    border-radius: 0.45rem;
    padding: 0.25rem;

    &:hover {
        background: var(--hover-color);
        border-color: var(--hover-border);
    }
}
header {
    grid-column: 2 / -1;
    grid-row: 1;
    align-content: center;
    text-align: center;
}

nav {
    grid-row: 2;
    align-content: center;
}
.navbar {
    display: flex;
    justify-content: center;
    gap: var(--default-gap);
}
main {
    grid-column: 2 / -1;
    grid-row: 3 / 4;
    align-content: center;
}
main.index,
main.upload {
    align-content: start;
    padding: var(--default-padding);
}
aside.user-area {
    display: flex;
    flex-direction: column;
    gap: var(--default-gap, 1rem);
    align-items: center;
    grid-column: 1;
    grid-row: 1 / 4;
    padding: var(--default-padding);
    > .button-area {
        margin-block-end: auto;
        display: flex;
        gap: var(--default-gap);
    }
}
.folder-area {
    margin-block-end: auto;
    display: flex;
    flex-direction: column;
    gap: var(--default-gap, 1rem);
}
.folders {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}
.folders > li > a,
.folders > li > svg {
    text-decoration: none;
    color: var(--dark-red);
    &:hover,
    &:focus {
        text-decoration: underline;
        color: var(--hover-text-color);
    }
}
.folders > li {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}
footer {
    grid-column: 1 / -1;
    grid-row: 4;
    align-content: center;
    padding: var(--default-padding);
}
form {
    display: grid;
    gap: var(--default-gap);
    > .form-row {
        display: grid;
    }
    > :last-child {
        margin-top: 0.5rem;
    }
}
